/* https://coolors.co/424b54-462b96-9b9ece-acadbc-ffffff */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Rubik&display=swap');

:root {
    --primary-color: #9B9ECE;
    --secondary-color: #462B96;
    --accent1-color: #424B54;
    --accent2-color: #ACADBC;
    --accent3-color: #FFFFFF;
    --heading-font: 'Oswald', Arial, sans-serif;
    --paragraph-font: 'Rubik', Helvetica, sans-serif;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    margin-bottom: 60px;
    font-family: var(--paragraph-font);
    max-width: 100%;
    background: var(--primary-color);
}

header {
    color: white !important;
    background: var(--secondary-color) !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

button {
    background-color: var(--secondary-color);
    padding: 12px 24px;
    color: white;
    margin: 1rem;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
}

.btn {
    background-color: var(--secondary-color);
    padding: 6px 24px;
    color: white;
    margin-top: 1rem;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
}

label {
    padding-top: 1rem;
}

thead {
    background: var(--accent1-color);
    color: white;
}

table {
    border: 2px solid black !important;
    background-color: white;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }






}

.override {
    color: #fff !important;
    background-color: var(--secondary-color) !important;
}

.btn-override:hover {
    background-color: #0d6efd;
    color: white;
}

.btn-hover:hover {
    background-color: #0d6efd;
    color: white;
}

.btn-override {
    background-color: #424B54;
}

dl {
    background-color: white;
}

dt {
    background-color: var(--secondary-color);
    color: white;
    padding: .5rem;
}

.first-child {
    padding-top: 2rem;
}

.last-child {
    padding-bottom: 2rem;
}